.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.form {
  width: 30px;
  min-width: 30px;
  padding: 0;
}

.select {
  padding: 0 !important;
  width: 30px;
  text-align: center;
}

.label {
  color: #fff;
  width: 75px;
}
